#workspacesDropDownContainer {
	position: relative;
	height: 50px;
}

#leftWorkspacesDropdown {
	position: absolute;
	width: 206px;
	left: 0px;
}

#middleWorkspacesSeparator {
	position: absolute;
	width: 20px;
	left: 210px;
	top: 20px;
}

#rightWorkspacesDropdown {
	position: absolute;
	width: 206px;
	left: 234px;
}

/*New Workspaces UI*/

#workspaces-table .operationsLinks {
	text-align: center;
	min-width: 88px;
}

#workspaces-table .operationsLinks a {
	margin: 0 10px;
	color: black;
	text-decoration: none;
	font-size: 16px;
}

#workspacesButtonsContainer {
	position: relative;
}

#workspacesContainer .removeButton {
	color: black;
	padding: 10px 20px;
	margin-top: 5px;
	text-decoration: none;
	margin-left: 20px;
	float:left;
}

#workspacesContainer .removeButton span {
	margin-right: 2px;
}

#workspacesContainer .addButton {
	float: right;
    margin-right: 20px;
	border-radius: 2px;
	color: #ffffff;
	background: #3498db;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	margin-top: 5px;
}

#workspacesContainer .addButton:hover {
	background: #3cb0fd;
	text-decoration: none; 
}

#sharedWorkspacesHeader {
	float: left;
    margin-top: 25px;
}

div.edit-workspace fieldset {
    margin: 10px 0 10px 0;
}

div.edit-workspace fieldset.workspace-open-views legend{
    display: block;
    width: 100%;
    padding: 0;
    line-height: inherit;
    border: none;
    margin: 0;
    font-weight: 600;
    font-size: 13px;
}

div.edit-workspace fieldset.oskari-formcomponent label, div.edit-workspace  label.oskari-formcomponent {
	width: 100%;
}

div.edit-workspace input[type=text] {
	width: 250px;
}