/* Mixins */
/* setup document body so flyouts will not make scrollbars to browser window */

@media screen {
  body {
    position: fixed;
    width: 100%;
    height: 100%; }
  }
  
  @media print {
  body {
    position: static;
    width: 100%;
    height: 100%;
      font-size: 10px;
  }
  }
  
  /* flyout toolbar */
  .oskari-flyoutheading {
    background-color: #0186d1;
    border-top: 1px solid #0186d1;
    border-bottom: 1px solid #0186d1;
    height: 14px;
    width: 100%; }
  
  .oskari-flyouttoolbar {
    height: 57px;
    width: 100%;
    background-color: #ffffff;
    border-top: #fdfdfd;
    border-bottom: #fef2ba; }
  
  .oskari-flyout-title {
    float: left;
    margin-left: 20px;
    margin-top: 12px;
    height: 20px;
    display: inline-block; }
    .oskari-flyout-title p {
      margin: 0;
      padding: 0;
      font-size: 16px;
      line-height: 20px; }
  
  /** flyout toolbar tools and tool states  */
  .oskari-flyouttools {
    float: right;
    margin-right: 25px;
    height: 16px;
    display: inline-block;
    margin-top: 15px; }
  
  .oskari-flyouttool-detach {
    display: none;
    /* visualise here if this tool required */ }
  
  .oskari-detached .oskari-flyouttool-detach {
    display: none; }
  
  .oskari-minimized .oskari-flyouttool-detach {
    display: none; }
  
  .oskari-flyouttool-attach {
    /* visualise here if this tool required */
    display: none; }
  
  .oskari-attached .oskari-flyouttool-attach {
    display: none; }
  
  .oskari-flyouttool-minimize {
    /* visualise here if this tool required */
    display: none; }
  
  .oskari-attached .oskari-flyouttool-minimize {
    display: none; }
  
  .oskari-minimized .oskari-flyouttool-minimize {
    display: none; }
  
  .oskari-flyouttool-restore {
    /* visualise here if this tool required */
    display: none; }
  
  .oskari-flyouttool-help {
    /* visualise here if this tool required */
    display: none; }
  
  .oskari-minimized .oskari-flyouttool-restore {
    display: inline-block; }
  .oskari-minimized .oskari-flyouttool-attach {
    display: none; }
  .oskari-minimized .oskari-flyouttool-detach {
    display: none; }
  
  .oskari-flyouttool-close {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 2px;
    margin-left: auto; }
  
  /* flyout */
  .oskari-flyout {
    background-color: #ffffff;
    position: absolute;
    z-index: 1600;
    margin: 0px;
    padding: 0px;
    border-right: 1px solid #9c9c9c;
    border-left: 2px solid #9c9c9c;
    height: 100%;  }
  
  /* flyout states */
  /*.oskari-minimized {
   width: 640px;
   height: 64px;
   overflow: hidden;
  
   min-height: 64px;
   max-height: 64px;
   }*/
  .oskari-closed {
    display: none; }
  
  .oskari-minimized {
    display: none; }
  
  .oskari-flyoutcontent {
    margin: 0;
    padding: 0;
    border: 0; }
  
  /** tile */
  /* tile states */
  .oskari-tile-attached {
    background-color: #0068a1; }
  
  .oskari-tile-detached {
    border-top: 1px solid #484846;
    border-bottom: 1px solid #212121;
    background-color: #FFF; }
  
  .oskari-tile-closed, .oskari-tile-minimized {
    border-top: 0px solid #484846;
    border-bottom: 0px solid #212121;
    background-color: #0186d1; }
    .oskari-tile-closed:hover, .oskari-tile-minimized:hover {
      border-top: 0px solid #585856;
      background-color: #0186d1; }
      
  .oskari-tile-container {
    margin: 0; }
  
  .oskari-tile {
   display: inline-block;
    margin: 0;
    padding: 0;
    cursor: pointer;
    min-height: 31px;
    width: 100%;
    border-top: 0px solid #484846;
    border-bottom: 0px solid #212121;
    /* Used to set the tile height, doesn't conflict with the styleguide */
    line-height: 17px; }
    .oskari-tile.disabled {
      opacity: 0.25;
      cursor: default; }
  
  .oskari-tile-title {
   display: inline-block;
    margin: 7px 0 7px 16px;
    padding: 0;
    width: 112px;
    text-align: left; }
    
  #footer-nav .oskari-tile-title {
    font-size: 11px;
  }
  
  .oskari-tile-attached .oskari-tile-title {
    color: white; }
  
  .oskari-tile-detached .oskari-tile-title {
    color: #333438; }
  
  .oskari-tile-minimized .oskari-tile-title {
    color: white; }
  
  .oskari-tile-closed .oskari-tile-title {
    color: white; }
  
  .oskari-tile-title.indent {
    padding-left: 10px; }
  
  .oskari-tile-status {
    text-align: center;
    display: inline-block;
    height: 19px !important;
    line-height: 19px;
    width: 20px !important;
    margin: 4px 4px 1px 1px;
    padding: 1px; }
  
  .oskari-tile-close {
    display: none; }
  
  .oskariform .oskarifield {
    padding: 10px; }
  
  /** media queries */
  
  @media screen {
    .oskari-attached {
      min-width: 520px;
      max-width: 840px; }
              
      #oskari-flyout-admin-layerrights, #oskari-flyout-liiteri-groupings
      {
          width: 1000px;
          max-width: 1000px;
      }
  
    .oskari-attached {
      min-width: 520px;
      max-width: 715px; }
  
    .oskari-detached {
      min-width: 520px;
      max-width: 715px; }
  
    .oskari-flyoutcontentcontainer {
      width: 100%;
      height: 100%;
      padding: 0;
      border: 0;
      overflow: auto;
      /* max-height: 500px; */
      /* overflow: auto; */ } }
  @media only screen and (min-width: 400px) and (max-width: 599px) {
    .oskari-attached {
      min-width: 520px;
      max-width: 520px; 
    }
  
    .oskari-detached {
      min-width: 520px;
      max-width: 520px; }
  
      #oskari-flyout-admin-layerrights, #oskari-flyout-liiteri-groupings {
          width: 520px;
          max-width: 520px;
      }
  }
  @media only screen and (min-width: 600px) and (max-width: 799px) {
    .oskari-attached {
      min-width: 520px;
      max-width: 520px;
    }
  
    .oskari-detached {
      min-width: 520px;
      max-width: 520px; }
  
     #oskari-flyout-admin-layerrights, #oskari-flyout-liiteri-groupings {
          width: 520px;
          max-width: 520px;
      }
  }
  @media only screen and (min-width: 800px) and (max-width: 1199px) {
    .oskari-attached {
      min-width: 520px;
      max-width: 715px;
    }
  
    .oskari-detached {
      min-width: 520px;
      max-width: 715px; } 
  
      #oskari-flyout-admin-layerrights, #oskari-flyout-liiteri-groupings {
          width: 800px;
          max-width: 800px;
      }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .oskari-attached {
      min-width: 520px;
      max-width: 715px;
    }
  
    .oskari-detached {
      min-width: 520px;
      max-width: 715px; } 
  
     #oskari-flyout-admin-layerrights, #oskari-flyout-liiteri-groupings {
          width: 1000px;
          max-width: 1000px;
      }
  }
  @media only screen and (min-height: 400px) and (max-height: 599px) {
    .oskari-flyoutcontentcontainer {
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      margin: 0px;
      overflow: auto;
      max-height: 300px; } 
    }
  @media only screen and (min-height: 600px) and (max-height: 799px) {
    .oskari-flyoutcontentcontainer {
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      margin: 0px;
      overflow: auto;
      max-height: 500px; } 
    }
  @media only screen and (min-height: 800px) and (max-height: 999px) {
    .oskari-flyoutcontentcontainer {
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      margin: 0px;
      overflow: auto;
      max-height: 700px; } 
    }
  @media only screen and (min-height: 1000px) and (max-height: 1199px) {
    .oskari-flyoutcontentcontainer {
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      margin: 0px;
      overflow: auto;
      max-height: 900px;  } 
    }
  @media only screen and (min-height: 1200px) and (max-height: 1399px) {
    .oskari-flyoutcontentcontainer {
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      margin: 0px;
      overflow: auto;
      max-height: 1100px; } 
    }
  @media only screen and (min-height: 1400px) {
    .oskari-flyoutcontentcontainer {
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      margin: 0px;
      overflow: auto;
      max-height: 1300px; } 
    }
  /* IE8 TEMP fixes */
  /* FIXME remove these, check that IE9+ doesn't blow up */
  .oskari-flyoutcontentcontainer_IE_400_599 {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    overflow: auto;
    /* max-height: 300px; */
    /* overflow: auto; */ }
  
  .oskari-flyoutcontentcontainer_IE_600_799 {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    overflow: auto;
    /* max-height: 500px; */
    /* overflow: auto; */ }
  
  .oskari-flyoutcontentcontainer_IE_800_999 {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    overflow: auto;
    /* max-height: 700px; */
    /* overflow: auto; */ }
  
  .oskari-flyoutcontentcontainer_IE_1000_1199 {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    overflow: auto;
    /* max-height: 900px; */
    /* overflow: auto; */ }
  
  .oskari-flyoutcontentcontainer_IE_1200_1399 {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    overflow: auto;
    /* max-height: 1100px; */
    /* overflow: auto; */ }
  
  .oskari-flyoutcontentcontainer_IE_1400 {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    overflow: auto;
    /* max-height: 1300px; */
    /* overflow: auto; */ }
    
  div.info {
    color: #0186d1;
    font-style: italic;
    padding-bottom: 10px;
    padding-top: 15px; }