/* Mixins */
/* setup document body so flyouts will not make scrollbars to browser window */

@media screen {
body {
  position: fixed;
  width: 100%;
    height: 100%;
}
}

@media print {
body {
  position: static;
  width: 100%;
  height: 100%;
    font-size: 10px;
}
}

/* flyout toolbar */
.oskari-flyoutheading {
  background-color: #0186d1;
  border-top: 1px solid #0186d1;
  border-bottom: 1px solid #0186d1;
  height: 14px;
    width: 100%;
}

.oskari-flyouttoolbar {
  height: 57px;
  width: 100%;
  background-color: #ffffff;
  border-top: #fdfdfd;
    border-bottom: #fef2ba;
}

.oskari-flyout-title {
  float: left;
  margin-left: 20px;
  margin-top: 12px;
  height: 20px;
    display: inline-block;
}

  .oskari-flyout-title p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
}

/** flyout toolbar tools and tool states  */
.oskari-flyouttools {
  float: right;
  margin-right: 25px;
  height: 16px;
  display: inline-block;
    margin-top: 15px;
}

.oskari-flyouttool-detach {
  display: none;

    /* visualise here if this tool required */
}

.oskari-detached .oskari-flyouttool-detach {
    display: none;
}

.oskari-minimized .oskari-flyouttool-detach {
    display: none;
}

.oskari-flyouttool-attach {
  /* visualise here if this tool required */
    display: none;
}

.oskari-attached .oskari-flyouttool-attach {
    display: none;
}

.oskari-flyouttool-minimize {
  /* visualise here if this tool required */
    display: none;
}

.oskari-attached .oskari-flyouttool-minimize {
    display: none;
}

.oskari-minimized .oskari-flyouttool-minimize {
    display: none;
}

.oskari-flyouttool-restore {
  /* visualise here if this tool required */
    display: none;
}

.oskari-flyouttool-help {
  /* visualise here if this tool required */
    display: none;
}

.oskari-minimized .oskari-flyouttool-restore {
    display: inline-block;
}

.oskari-minimized .oskari-flyouttool-attach {
    display: none;
}

.oskari-minimized .oskari-flyouttool-detach {
    display: none;
}

.oskari-flyouttool-close {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 2px;
    margin-left: auto;
}

/* flyout */
.oskari-flyout {
  background-color: #ffffff;
  position: absolute;
    z-index: 16000;
  margin: 0px;
  padding: 0px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

/* flyout states */
/*.oskari-minimized {
 width: 640px;
 height: 64px;
 overflow: hidden;

 min-height: 64px;
 max-height: 64px;
 }*/
.oskari-closed {
    display: none;
}

.oskari-minimized {
    display: none;
}

.oskari-flyoutcontent {
    position: relative;
  margin: 0;
  padding: 0;
    border: 0;
}

/** tile */
/* tile states */
.oskari-tile-attached {
    border-bottom: 1px solid white;
    background-color: #0068a1;
}

.oskari-tile-detached {
  border-top: 1px solid #484846;
  border-bottom: 1px solid #212121;
    background-color: #FFF;
}

.oskari-tile-closed, .oskari-tile-minimized {
    border-top: 1px solid #484846;
    border-bottom: 1px solid #212121;
    background-color: #0186d1;
    background: -webkit-gradient(linear, left top, left bottom, from(#30302e), to(#2a2a2c));
    background: -moz-linear-gradient(top, #30302e, #2a2a2c);
    background: -ms-linear-gradient(top, #30302e, #2a2a2c);

    /* For some reason sass didn't like this in one line... */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#30302e', endColorstr='#2a2a2c');
    background: linear-gradient(top, #30302e, #2a2a2c);
}

  .oskari-tile-closed:hover, .oskari-tile-minimized:hover {
    border-top: 1px solid #585856;
    background-color: #0186d1;
    background: -webkit-gradient(linear, left top, left bottom, from(#40403e), to(#3a3a3c));
    background: -moz-linear-gradient(top, #40403e, #3a3a3c);
    background: -ms-linear-gradient(top, #40403e, #3a3a3c);

    /* For some reason sass didn't like this in one line... */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40403e', endColorstr='#3a3a3c');
    background: linear-gradient(top, #40403e, #3a3a3c);
}
    
.oskari-tile-container {
    margin: 0;
}

.oskari-tile {
 display: inline-block;
  margin: 0;
  padding: 0;
  cursor: pointer;
  min-height: 31px;
  width: 100%;
  border-top: 0px solid #484846;
  border-bottom: 0px solid #212121;

  /* Used to set the tile height, doesn't conflict with the styleguide */
    line-height: 17px;
}

  .oskari-tile.disabled {
    opacity: 0.25;
    cursor: default;
}

.oskari-tile-title {
    display: inline-block;
  margin: 7px 0 7px 16px;
  padding: 0;
  width: 112px;

    /* This is not in the styleguide, but it's a must-have... */
    font-weight: bold;
    font-size: 11px;
    text-align: left;
    text-transform: uppercase;
}

.oskari-tile-attached .oskari-tile-title {
  color: white; }

.oskari-tile-detached .oskari-tile-title {
    color: #333438;
}

.oskari-tile-minimized .oskari-tile-title {
    color: white;
}

.oskari-tile-closed .oskari-tile-title {
    color: white;
}

.oskari-tile-title.indent {
	padding-left: 10px; }

.oskari-tile-status {
  text-align: center;
  display: inline-block;

    /* This is not in the styleguide, but it's a must-have... */
    font-size: 11px;
    font-weight: bold;
  height: 19px !important;
  line-height: 19px;
  width: 20px !important;
  margin: 4px 4px 1px 1px;
    padding: 1px;
}

.oskari-tile-close {
    display: none;
}

.oskariform .oskarifield {
    padding: 10px;
}

.sidetool {
    position: absolute;
    left: 100%;
    width: 16px;
    height: 100px;
    top: 0;
    float: right;
    background-color: #333438;
}

.sidetool .icon {
    position: absolute;
    top: 2px;
    left: 2px;
}

.verticalsidelabel {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    transform: rotate(270deg);
    transform-origin: center;
    white-space: nowrap;
    cursor: pointer;
    /** Fixes blurry text on chrome https://stackoverflow.com/questions/20326220/blurry-text-on-transformrotate-in-chrome */
    -webkit-transform-origin: 50% 53%;
}

/** media queries */

@media screen {
  .oskari-attached {
    min-width: 520px;
        max-width: 840px;
    }
            
    #oskari-flyout-admin-layerrights, #oskari-flyout-liiteri-groupings
    {
        width: 1000px;
        max-width: 1000px;
    }

  .oskari-attached {
    min-width: 520px;
    max-width: 715px; }

  .oskari-detached {
    min-width: 520px;
    max-width: 715px; }

  .oskari-flyoutcontentcontainer {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    overflow: auto;
    /* max-height: 500px; */
    }
}

@media only screen and (min-width: 400px) and (max-width: 599px) {
  .oskari-attached {
    min-width: 520px;
    max-width: 520px; }

  .oskari-detached {
    min-width: 520px;
    max-width: 520px; }

    #oskari-flyout-admin-layerrights, #oskari-flyout-liiteri-groupings {
        width: 520px;
        max-width: 520px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 799px) {
  .oskari-attached {
    min-width: 520px;
    max-width: 520px; }

  .oskari-detached {
    min-width: 520px;
    max-width: 520px; }

   #oskari-flyout-admin-layerrights, #oskari-flyout-liiteri-groupings {
        width: 520px;
        max-width: 520px;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1199px) {
  .oskari-attached {
    min-width: 520px;
    max-width: 715px; }

  .oskari-detached {
    min-width: 520px;
    max-width: 715px; } 

    #oskari-flyout-admin-layerrights, #oskari-flyout-liiteri-groupings {
        width: 800px;
        max-width: 800px;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .oskari-attached {
    min-width: 520px;
    max-width: 715px; }

  .oskari-detached {
    min-width: 520px;
    max-width: 715px; } 

   #oskari-flyout-admin-layerrights, #oskari-flyout-liiteri-groupings {
        width: 1000px;
        max-width: 1000px;
    }
}
@media only screen and (min-height: 400px) and (max-height: 599px) {
  .oskari-flyoutcontentcontainer {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: 57px;
    overflow: auto;
    height: auto; } }
@media only screen and (min-height: 600px) and (max-height: 799px) {
  .oskari-flyoutcontentcontainer {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: 57px;
    overflow: auto;
    height: auto; } }
@media only screen and (min-height: 800px) and (max-height: 999px) {
  .oskari-flyoutcontentcontainer {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: 57px;
    overflow: auto;
    height: auto; } }
@media only screen and (min-height: 1000px) and (max-height: 1199px) {
  .oskari-flyoutcontentcontainer {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: 57px;
    overflow: auto;
    height: auto;  } }
@media only screen and (min-height: 1200px) and (max-height: 1399px) {
  .oskari-flyoutcontentcontainer {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: 57px;
    overflow: auto;
    height: auto; } }
@media only screen and (min-height: 1400px) {
  .oskari-flyoutcontentcontainer {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: 57px;
    overflow: auto;
    height: auto; } }
/* IE8 TEMP fixes */
/* FIXME remove these, check that IE9+ doesn't blow up */
.oskari-flyoutcontentcontainer_IE_400_599 {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  overflow: auto;
  /* max-height: 300px; */
}

.oskari-flyoutcontentcontainer_IE_600_799 {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  overflow: auto;
  /* max-height: 500px; */
}

.oskari-flyoutcontentcontainer_IE_800_999 {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  overflow: auto;
  /* max-height: 700px; */
}

.oskari-flyoutcontentcontainer_IE_1000_1199 {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  overflow: auto;
  /* max-height: 900px; */
}

.oskari-flyoutcontentcontainer_IE_1200_1399 {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  overflow: auto;
  /* max-height: 1100px; */
}

.oskari-flyoutcontentcontainer_IE_1400 {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  overflow: auto;
  /* max-height: 1300px; */
  /* overflow: auto; */ }
  
div.info {
  color: #0186d1;
  font-style: italic;
  padding-bottom: 10px;
  padding-top: 15px; }
