.servicePackageInnerContainer {
    height:100px;
    width:300px; 
    overflow: auto; 
    text-align: center
}

#servicePackagesDropdown {
	width: 100%;
}

#servicePackagesSelect {
	margin: 5px;
	padding: 2px 4px;
}

div.liiteri-servicepackages {
	margin-bottom: 15px;
}