#publishedgridToggle {
  width: 26px;
  height: 27px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20000;
}

  #publishedgridToggle.hidePublishedGrid {
    background: url(/Oskari/bundles/mapping/mapmodule/resources/images/hide-navigation.png); }
  #publishedgridToggle.showPublishedGrid {
    background: url(/Oskari/bundles/mapping/mapmodule/resources/images/show-navigation.png); }

.publishedgrid .slick-header-column {
    height: 130px;
}

.publishedgrid .slick-spanheader-columns .slick-header-column {
	height: 44px;
	padding: 0px;
}

.publishedgrid .headerBorder {
    padding-right: 3px;
    padding-left: 3px;
  	text-overflow: ellipsis;
  	overflow: hidden;
}

.publishedgrid .headerAlignWithBorder {
	padding: 0px;
	margin: 0px;
}

.publishedgrid .headerBorder.headerAlignWithBorder {
	float: left;
}