div.oskariTabs {
  /* tab headers */
  /* "tab" content */ }
  div.oskariTabs div.tabsHeader {
    background: url('/Oskari/resources/framework/bundle/divmanazer/images/tab_bg.png') repeat-x scroll center bottom;
    /* #FFFFFF*/
    clear: left;
    float: left;
    overflow: hidden;
    padding: 0 20px 0 20px;
    width: 100%; }
    div.oskariTabs div.tabsHeader ul {
      float: left;
      list-style: none outside none;
      margin: 0;
      padding: 0;
      text-align: center; }
      div.oskariTabs div.tabsHeader ul li {
        display: block;
        float: left;
        list-style: none outside none;
        margin: 10px 0 0;
        padding: 0;
        right: 50%; 

      }
        div.oskariTabs div.tabsHeader ul li.active a {
            background-color: #fff;
            border-bottom: 1px solid #fff;
            padding: 8px 10px 4px 10px;
            margin-top: 0px;
        }
        div.oskariTabs div.tabsHeader ul li.fill a {
          width: 100%; }
        div.oskariTabs div.tabsHeader ul li a {
            background-color: #fbfbfb;          
          border-left: 1px solid #999999;
          border-right: 1px solid #999999;
          border-top: 1px solid #999999;
          border-bottom: 1px solid #999999;
          color: #000000;
          display: block;
          float: left;
          padding: 4px 10px 4px 10px;
            margin-top: 4px;
          position: relative;
          text-decoration: none;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        div.oskariTabs div.tabsHeader ul li input[type="button"] {
          font-size: 0.75em; }
        div.oskariTabs div.tabsHeader ul li select {
          margin-right: 10px; }
  div.oskariTabs div.tabsContent {
    border-left: 0px solid #999999;
    border-right: 0px solid #999999;
    border-top: 0px solid #999999;
    border-bottom: 0px solid #999999;
    color: #000000;
    height: 90%; }
  div.oskariTabs div.tab-content {
    padding: 10px;
    overflow: auto; }
