/*List*/

#groupings-table .operationsLinks {
	text-align: right;
	min-width: 88px;
}

#groupings-table .operationsLinks a {
	margin: 0 5px;
	color: black;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
}

.liiteri-groupings .buttons {
	padding: 5px;
}

.liiteri-groupings .buttons a span {
	margin-right: 2px;
}
	
.liiteri-groupings .buttons a {
	float: left;
    margin-right: 20px;
	border-radius: 2px;
	color: black;
	background: #CCF1FB;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	margin-top: 5px;
}

.liiteri-groupings .buttons a:hover {
	background: #CCF1FB;
	text-decoration: none;
	cursor: pointer;
}
/*--------------
 * Detail's view
 *--------------*/

.groupingsContainer .accordion, .groupingsContainer .accordion_panel {
	background-color: white !important;
}

/* buttons */
.groupingsContainer .buttons {
	padding: 5px;
}

.groupingsContainer .buttons input {
	/*float: left;*/
    margin-right: 20px;
	border-radius: 2px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	margin-top: 5px;
	font-weight: normal;
	line-height: 18px;
}

/*.groupingsContainer .buttons input:hover {
	background: #33CC00;
	text-decoration: none;
	cursor: pointer;
}*/

.groupingsContainer .buttons .cancelBtn{
	background: white;
	border: none;
	color: black;
}

.groupingsContainer .buttons .saveBtn{
	background: #33CC00;
	color: white;
}

/* form */
.groupingsContainer label, .groupingsContainer .metadataFieldTitle {
	font-weight: normal;
	position: relative;
    text-align: right;
    width: 130px;
    padding-right: 5px;
}
.groupingsContainer input[type="text"], .groupingsContainer .metadataFieldValue, .groupingsContainer select {
	width: 300px;
	line-height: 18px;
}

.groupingsContainer .oskarifield {
	line-height: 30px;
}

.groupingsContainer  .addItemButtons {
	padding: 5px 5px 5px 0;
}

/*.groupingsContainer  .addItemButtons a span {
	margin-right: 2px;
}*/
	
.groupingsContainer  .addItemButtons input , .groupingsContainer input.addNewThemeButton {
	/*float: left;*/
    margin-right: 20px;
	border-radius: 2px;
	color: black;
	background: #CCF1FB;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	margin-top: 5px;
	line-height: 18px;
}

.groupingsContainer  .addItemButtons input:hover ,  .groupingsContainer input.addNewThemeButton:hover {
	background: #CCF1FB;
	text-decoration: none;
	cursor: pointer;
}

.groupingsContainer  .addItemButtons input:disabled ,  .groupingsContainer input.addNewThemeButton:disabled {
	background: #DDE3DC;
	text-decoration: none;
	cursor: pointer;
	color: white;
}

.groupingsContainer .readyThemes {
	margin-left: 10px;
	margin-right: 10px;
}

.groupingsContainer  .readyThemes.import {
	margin-right: 36px;
}


.readyThemes li{
	margin: 5px !important;
}

.groupingsContainer .statsContainer {
	margin-top: 20px;
	height: 100px;
}

.groupingsContainer .myGrid  th {
	border-bottom: 1px solid #111111;
	font-weight: bold;
}

.groupingsContainer .myGrid  td{
	border-bottom: 1px solid #e6e6e6;
}

.groupingsContainer .dynatree-node-box {
	background-color: #90E9FF;
    border: 1px solid #33ccff;
    border-radius: 3px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    padding: 5px 10px;
    text-decoration: none;
	font-family: "Open Sans",Arial,sans-serif;
}

.groupingsContainer .theme-tools {
	line-height: 22px;
	margin-left: 10px;
	width: 100%;
}

.groupingsContainer .theme-tool {
	height: 22px;
	line-height: 22px;
	width: 26px;
	text-align: center;
	cursor: pointer;
}

.groupingsContainer .theme-tool.disabled {
	opacity: 0.25;
	cursor: auto;
}

.groupingsContainer .themeMetadataContainer {
	margin-top: 5px;
}

.groupingsContainer .dynatree-title:focus {
    outline: none;
    background: none;
    border: 1px solid #FFFFFF;
}

.groupingsContainer span.dynatree-active a,
.groupingsContainer span.dynatree-active a:focus,
.groupingsContainer .dynatree-title:active {
    outline: none;
	border: 1px solid #99DEFD;
	background-color: #D8F0FA;
}

.groupingsContainer span.dynatree-selected a  {
	font-style: normal;
}

.servicepackage-rename-dialog .tool-popup-text {
	margin-bottom: 2px;
}

.servicepackage-rename-dialog input[type="text"] {
	min-width: 400px;
}

.servicepackage-add-dialog .tool-popup-text {
	margin-bottom: 2px;
}

.servicepackage-add-dialog input[type="text"] {
	min-width: 400px;
}

div.groupingsContainer div.ready-themes-row {
	position: relative;
}

div.groupingsContainer div.data-import {
  	position: absolute;
  	top: 50%;
  	transform: translateY(-50%);
  	right: 0;
}

div.groupingsContainer div.data-import > span.import-tool {
    font-size: 30px;
    cursor: pointer;
}

div.groupingsContainer div.data-import > span.import-tool.disabled {
	opacity: 0.25;
	cursor: auto;
}

div.groupingsContainer span.fancytree-active span.fancytree-title, div.groupingsContainer span.fancytree-focused span.fancytree-title {
    background-color: transparent;
    border-color: #ffffff;
}

div.groupingsContainer span.fancytree-partsel span.fancytree-title, div.groupingsContainer span.fancytree-selected span.fancytree-title {
    background-color: #cbe8f6;
    border-color: #26a0da;
}
