/* Override popup styles */

.divmanazerpopup.guidedtour {
    font-family: Arial, sans-serif;
}

.divmanazerpopup.guidedtour h3 {
    margin: 0;
    font-weight: normal;
}

div.divmanazerpopup.guidedtour.bluetitle h3 {
    color: #fff;
    background-color: #1995fd;
    border-radius: 3px 3px 0 0;
}

div.divmanazerpopup.guidedtour.bluetitle h3 span {
    float: right;
    font-size: 13px;
    padding-top: 3px;
}

.divmanazerpopup.guidedtour .content {
    font-size: 13px;
    line-height: 18px;
}

.divmanazerpopup.guidedtour .content a {
    color: #0090ff;
    text-decoration: underline;
}

.divmanazerpopup.guidedtour .actions input {
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 12px/100% Arial, sans-serif;
    font-weight: bold;
    padding: 4px 10px;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    border: solid 1px #2670b5;
    text-shadow: 1px 1px 0 rgba(0,0,0,.35);
    background: #3996ed;
    background: -webkit-gradient(linear, left top, left bottom, from(#3a97ee), to(#217ad4));
    background: -moz-linear-gradient(top,  #3a97ee,  #217ad4);
    filter: unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a97ee', endColorstr='#217ad4')"); /* unquote for libsass bug */
}
.divmanazerpopup.guidedtour .actions input:hover {
    text-decoration: none;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#3a97ee), to(#217ad4));
    background: -moz-linear-gradient(top,  #59abf8,  #2b8df0);
    filter: unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a97ee', endColorstr='#217ad4')"); /* unquote for libsass bug */
}
.divmanazerpopup.guidedtour .actions input:active {
    position: relative;
    top: 1px;
    color: #19456d;
    text-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#217ad4), to(#3a97ee));
    background: -moz-linear-gradient(top,  #217ad4,  #3a97ee);
    filter: unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr='#217ad4', endColorstr='#3a97ee')"); /* unquote for libsass bug */
}

.divmanazerpopup.guidedtour.arrow:after, .divmanazerpopup.guidedtour.arrow:before {
    display: none;
}

.divmanazerpopup.guidedtour.draggable {
    cursor: move;
}

.announcements .announcementsButton {
	float: left;
    margin-right: 20px;
	border-radius: 2px;
	color: #ffffff;
	background: #3498db;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	margin-top: 5px;
}

.announcements .announcementsButton:hover {
	background: #3cb0fd;
	text-decoration: none; 
}

#newAnnouncementPopup .oskarifield {
    margin-bottom: 15px
}

#newAnnouncementPopup .jqte {
	margin: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: solid 1px #969696;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

#newAnnouncementPopup .jqte * {
    box-sizing: content-box;
}

#newAnnouncementPopup .jqte_editor {
    max-height: 200px;
}