div.myplacesimport div.file-import label {
  display: block; }

div.myplacesimport div.icon-info {
  float: right;
  cursor: pointer; }

div.myplacesimport div.info {
  color: #0186d1;
  font-style: italic;
  padding-bottom: 10px;
  padding-top: 15px; }


