/* account tab */
div.tab-content div.account div.dataField {
  padding: 0; 
}

div.tab-content div.account div.dataField div.label {
  float: left;
  width: 40%; }

/* My Views tab*/
div.view {
  padding: 5px; }

div.view.odd {
  background-color: #f3f3f3; }

div.view div.name {
  display: inline-block; }

div.view div.tools {
  float: right; }

div.view div.tools div {
  display: inline-block;
  margin-right: 5px; }

div.personaldata td div.icon {
  display: inline-block;
  vertical-align: top; }

div.personaldata a.categoryOp {
  margin: 5px; }

div.personaldata a.categoryOp div.icon {
  display: inline-block; }

textarea#view_description {
  resize: none;
  width: 100%; }
 
/*View*/ 

.personalDataViewHeader {
	background-color: #FFFFFF;
	padding: 5px 10px; 
}

.personalDataViewHeader .icon-close {
	float: right; 
}
  
.personalDataViewContainer .oskariTabs div.tab-content .label{
	color: #000000;
}

.personaldata .label{
	color: #000000;
}

/*Pop-up*/

.personalDataContainer h3 {
	display: none;
}

.personalDataContainer span.glyphicon {
	font-size: 40px;
	margin-right: 5px;
}

.personalDataContainer .linkRow {
	margin-top: 10px;
}

.personalDataContainer .linkRow a{
	cursor: pointer;
}
.personalDataContainer {
    min-width: 250px;
}

.personalDataContainer .oskari-popover-title {
    display: none;
}

.personalDataContainer .oskari-popover-inner {
    border: none;
    background: #fff;
}

.oskari-popover.personalDataContainer.bottom .oskari-arrow {
    border-bottom: 5px solid #fff;
}